<div class="container" #educationSection (click)="onSectionClick()" [class.visible]="isVisible" [class.hover-enabled]="isHoverEnabled">
    <div class="title">
        <span class="material-icons icon-school">school</span>
        <h1>Education</h1>
    </div>

    <div class="education-container" *ngFor="let education of educationEntries" [class]="'education-' + education.level">
        <div class="info">
            <div class="icon-wrapper">
                <div class="logo-container">
                    <img [src]="education.logo" [alt]="education.institution + ' logo'" class="university-logo">
                    <span class="material-icons custom-icon">{{ education.icon }}</span>
                    <div class="university-name">{{ education.institution }}</div>
                </div>
                <span class="education-badge">{{ education.badge }}</span>
            </div>
            &nbsp;
            <div class="detail">
                <div>
                    <h3>{{ education.institution }}</h3>
                    <p class="description">{{ education.description }}</p>
                </div>
                <p class="date">{{ education.dateRange }}</p>
            </div>
        </div>
    </div>


</div>