
   <div class="title">
      <span class="material-icons icon-school">edit</span>
      <h1>Technical Skills</h1>
   </div>
   <div style="margin-top: 1rem;"></div>
   <!-- <div class="hex-grid">
      <div *ngFor="let skill of skills; let schooli = index" class="hex">
            <img [src]="skill.image" [alt]="skill.name">
         
          <span>{{ skill.name }}</span>
      </div>
      
     
   </div> -->
    <div class="container">
   <div class="hex-grid">
      <div *ngFor="let skill of skills; let i = index" class="hex">
          <img [src]="skill.image" [alt]="skill.name">
          <span>{{ skill.name }}</span>
      </div>
   </div>
</div>

