<div class="about-container">
    <div class="parent">
        <div class="introduction">
           <div class="Name">
           <span class="salam"> Hola,</span> <br/>It is Nawaz Muhammad</div>
           <div class="Description"> A software Development Engineer with more than 3.5 years of experience in front-end, back-end and cloud development and deployment.</div>
           <div class="buttons">
            <button mat-raised-button class="download-resume-button">
                Download Resume
              </button>
              &nbsp;
              <button mat-raised-button class="contact-button">
                Contact
              </button>
              
           </div>
        </div>
        <div class="profile-image">
            <img src="assets/profile_pic.png" alt="Profile Image">
        </div>
    </div>
    
   
</div>
