<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio - Nawaz Muhammad</title>
  <style>
    /* Add any necessary styling here */
  </style>
</head>

<body>
  <div class="container" appObserveVisibility (visible)="onVisible()">
    <header>
      <nav class="horizontal-nav">
        <div class="logo" style="font-family: OCR A Std, monospace;">
          <span style="margin-right: 4px;">Nawaz</span>
          <span style="color:#808080">Muhammad</span>
        </div>
        <ul>
          <li><a href="#" (click)="scrollTo('home')">Home</a></li>
          <li><a href="#" (click)="scrollTo('about')">About</a></li>
          <li><a href="#" (click)="scrollTo('education')">Education</a></li>
          <li><a href="#" (click)="scrollTo('skills')">Skills</a></li>
          <li><a href="#" (click)="scrollTo('experience')">Experience</a></li>
          <li><a href="#" (click)="scrollTo('contact')">Contact</a></li>
        </ul>
    
        <button (click)="scrollTo('about')" class="gradient-text-button">
          Download Resume
        </button>
      </nav>
    </header>

    <section #home id="home" style="background: #FFE6E6;">
      <app-home></app-home>
    </section>

    <section  #about id='about' class="__aboutttt">
      <app-about></app-about>
    </section>

    <section  #education id='education'>
      <app-education></app-education>
    </section>

    <section #experience id="experience" #animateOnScroll class="expr">
      <app-experience></app-experience>
    </section>

    <section  id="skills">
      <app-skills style="background: #FFE6E6;"></app-skills>
      <app-certifications></app-certifications>
    </section>

  </div>
</body>

</html>
