<div class="timeline-container" [class.animate]="animate">
    <ul class="timeline">
      <li *ngFor="let exp of experiences" class="timeline-event">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <img src="{{ exp.imageUrl }}" alt="{{ exp.company }} Logo" class="timeline-image">
          <div>
               <h3>
              {{ exp.company }} ({{ exp.location }})
            <i>{{exp.year}}</i></h3>
            
          </div> 
          <span>{{ exp.role }}</span>
          <p [innerHTML]="exp.description"></p>
        </div>
      </li>
    </ul>
  </div>
